@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  background-color: #e9e9e9;
  font-family: Roboto, sans-serif;
  transition: 1s ease;
}

body,
html {
  height: 100%;
}

.brand-font {
  font-family: Lobster, cursive;
}

nav {
  display: inline-block;
  padding-top: 3px;
  padding-right: 30px;
  padding-left: 30px;
  height: 45px;
  background-color: #222d32;
  color: #fff;
  white-space: nowrap;
  font-size: 35px;
  font-family: Lobster, cursive;
  line-height: 40px;
}

.developer {
  position: absolute;
  top: 92%;
  right: 10px;
  padding: 5px;
  width: 150px;
  border-radius: 2px;
  background-color: #222d32;
}

#text {
  width: 100%;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 115px;
  line-height: 1;
}

.control-panel {
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-left: -12px;
  width: 100%;
  background-color: #222d32;
  background-color: #171f23;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

input[type="range"] {
  margin: 0;
  border: none;
}

.thumb {
  display: none;
}

.value-holder {
  padding: 5px;
  width: 38px;
  background-color: #1a84cc;
  text-align: center;
}

input[type="text"] {
  margin: 0 0 5px 0;
  height: 20px;
}

select {
  padding: 5px;
  width: 100%;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  color: #9e9e9e;
}

.divider {
  border-bottom: 5px solid #272727;
}

.btn {
  padding: 0 1rem;
}

.c-valign-wrapper {
  display: table;
  display: table-cell;
  margin: 0 auto;
  height: 94%;
  vertical-align: middle;
}

#how-to-use {
  margin-top: -5px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2c3e50;
}

.control-panel,
.win-height {
  height: 623px;
}

.code_view_titel {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
}

.download-icon-btn-cnt {
  margin-top: 30px;
  padding: 8px;
  border-radius: 2px;
  background-color: #5d6267;
  text-align: center;
  font-size: 18px;
  transition: 0.5s ease;
}

a:hover {
  background-color: #34495e;
  transition: 0.5s ease;
}

.am-close {
  position: absolute;
  top: 22px;
  right: 30px;
  float: right;
  font-weight: 100;
  font-size: 32px;
}

span {
  font-size: 16px;
}
&.item1 {
  display: table;
  display: table-cell;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 291px;
  height: 100%;
  border-radius: 0;
  background-color: #e9e9e9;
  background-color: #8e44ad;
  box-shadow: 0 0 0 #b6b6b6, 1px 1px 0 #b7b7b7, 2px 2px 0 #b7b7b7,
    3px 3px 0 #b8b8b8, 4px 4px 0 #b8b8b8, 5px 5px 0 #b8b8b8, 6px 6px 0 #b9b9b9,
    7px 7px 0 #b9b9b9, 8px 8px 0 #bababa, 9px 9px 0 #bababa, 10px 10px 0 #bababa,
    11px 11px 0 #bbb, 12px 12px 0 #bbb, 13px 13px 0 #bcbcbc, 14px 14px 0 #bcbcbc,
    15px 15px 0 #bdbdbd, 16px 16px 0 #bdbdbd, 17px 17px 0 #bdbdbd,
    18px 18px 0 #bebebe, 19px 19px 0 #bebebe, 20px 20px 0 #bfbfbf,
    21px 21px 0 #bfbfbf, 22px 22px 0 silver, 23px 23px 0 silver,
    24px 24px 0 silver, 25px 25px 0 #c1c1c1, 26px 26px 0 #c1c1c1,
    27px 27px 0 #c2c2c2, 28px 28px 0 #c2c2c2, 29px 29px 0 #c3c3c3,
    30px 30px 0 #c3c3c3, 31px 31px 0 #c3c3c3, 32px 32px 0 #c4c4c4,
    33px 33px 0 #c4c4c4, 34px 34px 0 #c5c5c5, 35px 35px 0 #c5c5c5,
    36px 36px 0 #c6c6c6, 37px 37px 0 #c6c6c6, 38px 38px 0 #c6c6c6,
    39px 39px 0 #c7c7c7, 40px 40px 0 #c7c7c7, 41px 41px 0 #c8c8c8,
    42px 42px 0 #c8c8c8, 43px 43px 0 #c9c9c9, 44px 44px 0 #c9c9c9,
    45px 45px 0 #c9c9c9, 46px 46px 0 #cacaca, 47px 47px 0 #cacaca,
    48px 48px 0 #cbcbcb, 49px 49px 0 #cbcbcb, 50px 50px 0 #ccc, 51px 51px 0 #ccc,
    52px 52px 0 #ccc, 53px 53px 0 #cdcdcd, 54px 54px 0 #cdcdcd,
    55px 55px 0 #cecece, 56px 56px 0 #cecece, 57px 57px 0 #cfcfcf,
    58px 58px 0 #cfcfcf, 59px 59px 0 #cfcfcf, 60px 60px 0 #d0d0d0,
    61px 61px 0 #d0d0d0, 62px 62px 0 #d1d1d1, 63px 63px 0 #d1d1d1,
    64px 64px 0 #d2d2d2, 65px 65px 0 #d2d2d2, 66px 66px 0 #d2d2d2,
    67px 67px 0 #d3d3d3, 68px 68px 0 #d3d3d3, 69px 69px 0 #d4d4d4,
    70px 70px 0 #d4d4d4, 71px 71px 0 #d5d5d5, 72px 72px 0 #d5d5d5,
    73px 73px 0 #d5d5d5, 74px 74px 0 #d6d6d6, 75px 75px 0 #d6d6d6,
    76px 76px 0 #d7d7d7, 77px 77px 0 #d7d7d7, 78px 78px 0 #d8d8d8,
    79px 79px 0 #d8d8d8, 80px 80px 0 #d8d8d8, 81px 81px 0 #d9d9d9,
    82px 82px 0 #d9d9d9, 83px 83px 0 #dadada, 84px 84px 0 #dadada,
    85px 85px 0 #dadada, 86px 86px 0 #dbdbdb, 87px 87px 0 #dbdbdb,
    88px 88px 0 #dcdcdc, 89px 89px 0 #dcdcdc, 90px 90px 0 #ddd, 91px 91px 0 #ddd,
    92px 92px 0 #ddd, 93px 93px 0 #dedede, 94px 94px 0 #dedede,
    95px 95px 0 #dfdfdf, 96px 96px 0 #dfdfdf, 97px 97px 0 #e0e0e0,
    98px 98px 0 #e0e0e0, 99px 99px 0 #e0e0e0, 100px 100px 0 #e1e1e1,
    101px 101px 0 #e1e1e1, 102px 102px 0 #e2e2e2, 103px 103px 0 #e2e2e2,
    104px 104px 0 #e3e3e3, 105px 105px 0 #e3e3e3, 106px 106px 0 #e3e3e3,
    107px 107px 0 #e4e4e4, 108px 108px 0 #e4e4e4, 109px 109px 0 #e5e5e5,
    110px 110px 0 #e5e5e5, 111px 111px 0 #e6e6e6, 112px 112px 0 #e6e6e6,
    113px 113px 0 #e6e6e6, 114px 114px 0 #e7e7e7, 115px 115px 0 #e7e7e7,
    116px 116px 0 #e8e8e8, 117px 117px 0 #e8e8e8, 118px 118px 0 #e9e9e9,
    119px 119px 0 #e9e9e9;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 0 0 #681e87, 1px 1px 0 #691f88, 2px 2px 0 #691f88,
    3px 3px 0 #6a2089, 4px 4px 0 #6a2089, 5px 5px 0 #6b218a, 6px 6px 0 #6b218a,
    7px 7px 0 #6c228b, 8px 8px 0 #6c228b, 9px 9px 0 #6d238c, 10px 10px 0 #6d238c,
    11px 11px 0 #6e248d, 12px 12px 0 #6e248d, 13px 13px 0 #6f258e,
    14px 14px 0 #6f258e, 15px 15px 0 #70268f, 16px 16px 0 #70268f,
    17px 17px 0 #712790, 18px 18px 0 #712790, 19px 19px 0 #722891,
    20px 20px 0 #722891, 21px 21px 0 #732992, 22px 22px 0 #742a93,
    23px 23px 0 #742a93, 24px 24px 0 #752b94, 25px 25px 0 #752b94,
    26px 26px 0 #762c95, 27px 27px 0 #762c95, 28px 28px 0 #772d96,
    29px 29px 0 #772d96, 30px 30px 0 #782e97, 31px 31px 0 #782e97,
    32px 32px 0 #792f98, 33px 33px 0 #792f98, 34px 34px 0 #7a3099,
    35px 35px 0 #7a3099, 36px 36px 0 #7b319a, 37px 37px 0 #7b319a,
    38px 38px 0 #7c329b, 39px 39px 0 #7c329b, 40px 40px 0 #7d339c,
    41px 41px 0 #7d339c, 42px 42px 0 #7e349d, 43px 43px 0 #7e349d,
    44px 44px 0 #7f359e, 45px 45px 0 #7f359e, 46px 46px 0 #80369f,
    47px 47px 0 #8137a0, 48px 48px 0 #8137a0, 49px 49px 0 #8238a1,
    50px 50px 0 #8238a1, 51px 51px 0 #8339a2, 52px 52px 0 #8339a2,
    53px 53px 0 #843aa3, 54px 54px 0 #843aa3, 55px 55px 0 #853ba4,
    56px 56px 0 #853ba4, 57px 57px 0 #863ca5, 58px 58px 0 #863ca5,
    59px 59px 0 #873da6, 60px 60px 0 #873da6, 61px 61px 0 #883ea7,
    62px 62px 0 #883ea7, 63px 63px 0 #893fa8, 64px 64px 0 #893fa8,
    65px 65px 0 #8a40a9, 66px 66px 0 #8a40a9, 67px 67px 0 #8b41aa,
    68px 68px 0 #8b41aa, 69px 69px 0 #8c42ab, 70px 70px 0 #8c42ab,
    71px 71px 0 #8d43ac, 72px 72px 0 #8d43ac, 73px 73px 0 #8e44ad;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 165px;
  line-height: 1;
  -webkit-text-stroke: 0 #fff;
  -moz-text-stroke: 0 #fff;
  -o-text-stroke: 0 #fff;
  -webkit-text-stroke: 0 #fff;
}

.slider .indicators {
  position: relative;
  margin-top: 15px;
}
